link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/main.css", rel="stylesheet")
link(href="/css/animate.css", rel="stylesheet")
script(src="/js/jquery-1.11.1.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
