nav.navbar.navbar-default.navbar-static-top.navbar-fixed-top(role="navigation")
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria--controls="navbar")
				span.sr-only Menu
				i.glyphicon.glyphicon-align-justify
			a.navbar-brand(href="#")
						img(src="/images/logo.png", alt="影视译通网")
		#navbar.navbar-collapse.collapse
			ul#menu.nav.navbar-nav
				li(class=(page_slug === 'home' ? 'active' : ''))
					a(href="/") 首页
				li(class=(page_slug === 'about' ? 'active' : ''))
					a(href="/about") 关于我们
				li(class=(page_slug === 'translation' ? 'active' : ''))
					a(href="/translation") 影视译制
				li(class=(page_slug === 'film' ? 'active' : ''))
					a(href="/film") 故事片
				li(class=(page_slug === 'documentary' ? 'active' : ''))
					a(href="/documentary") 纪录片
				li(class=(page_slug === 'animation' ? 'active' : ''))
					a(href="/animation") 美术片
				li(class=(page_slug === 'tv' ? 'active' : ''))
					a(href="/tv") 电视剧
				li(class=(page_slug === 'short' ? 'active' : ''))
					a(href="/short") 短片
		ul#langbar
			li.cn.active
				a(href="/") 中文
			li.en
				a(href='/en') EN