#myCarousel.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
	.carousel-inner(role="listbox")
		each item in slides
			.item.bigitem
				a(href="#{item.link}")
					img.bg.wow.animated.fadeIn(src="/uploads/img/#{item.content.bg}", data-wow-delay="0.5s", data-wow-duration="1.5s")
					.carousel-caption(class="#{item.layout}")
						if item.content.cn
							h1
								img.wow.animated.fadeInLeft(src="/uploads/img/#{item.content.cn}", data-wow-duration="1.5s", data-wow-delay="0.5s")
						if item.content.en
							p 
								img.wow.animated.fadeInRight(src="/uploads/img/#{item.content.en}", data-wow-duration="1.5s", data-wow-delay="0.5s")
	a.left.carousel-control(href="#myCarousel", data-slide="prev", role="button")
		img.icon-prev(src="/images/arrow_left.png",aria-hidden="true")
		span.sr-only Previous
	a.right.carousel-control(href="#myCarousel", data-slide="next", role="button")
		img.icon-next(src="/images/arrow_right.png", aria-hidden="true")
		span.sr-only Next