body {
	font-family: Arial;
}
h2, .h2, #menu, #langbar {
	font-family: Arial;
	letter-spacing: normal;
}
#navbar {
	float: left;
}
#menu {
	font-size: 16px;
}
#aboutBlock #contact textarea {
	height: 330px;
}
.send {
	letter-spacing: 1px;
	padding-right: 27px;
}
#about p, #aboutUs p {
	text-align: justify;
}

/* ====================================
 * MEDIA QUERY
 * ==================================== */
@media (min-width: 1200px) {
	#menu {
		margin-left: 68px;
	}
}
@media (min-width: 993px) and (max-width: 1199px) {
	#menu {
		margin-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	#menu {
		font-size: 14px;
	}
	#menu li a {
		padding-right: 10px;
	}
}
@media (max-width: 768px) {
	#navbar {
		float: none;
	}
}