body {
	font-family: SimSun, Arial;
	letter-spacing: 1px;
}
h2, .h2, #menu, #langbar, .send, .film-title, .toggleBtn {
	font-size: 16px;
	font-family: "Microsoft YaHei";
}
.send {
	font-size: 14px;
	padding-left: 28px;
	letter-spacing: 14px;
}
.carousel-indicators {
	bottom: 0;
}
.carousel-caption.p-left {
	text-align: left;
	top: 200px;
}
.carousel-caption.p-right {
	text-align: right;
	top: 100px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	line-height: normal;
}
.carousel-inner .bigitem img.bg {
	width: 100%;
}
a.carousel-control {
	display: none;
}
.btn-primary {
	background-color: #063CFA;
	border: none;
	border-radius: 0;
}
.navbar-fixed-top {
	position: absolute;
}
/*#menu {
	margin-left: 155px;
}*/
.navbar-default {
	margin-bottom: 0;
	min-height: 90px;
	font-size: 16px;
	background-color: none;
	background: url(../images/nav_bg.png) 0 0 repeat-x;
	border: none;
}
.navbar-nav > li > a {
	padding-top: 35px;
	padding-bottom: 34px;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #063CFA;
	background: transparent;
}
#navbar {
	float: left;
}
#langbar {
	font-size: 10px;
	float: right;
	margin-bottom: 0;
	margin-top: 38px;
}
#langbar li {
	display: inline;
	list-style: none;
}
#langbar li a {
	padding-left: 15px;
	padding-right: 0;
	color: #000;
}
#langbar li.active a {
	color: #063cfa;
}
#myCarousel {
	height: 500px;
	margin-bottom: 60px;
}
#myCarousel .carousel-caption {
    z-index: 10;
}
#myCarousel .item {
    background-color: #777;
}
#myCarousel .carousel-inner > .item > img {
    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
}
.carousel-indicators li {
	background-color: #fff;
	border-color: #978D87;
}
.carousel-indicators li.active {
	background-color: #063CFA;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	height: auto;
}

.footer {
	background-color: #f5f5f5;
	height: 60px;
	width: 100%;
	padding: 20px 0;
}

#about p {
	font-size: 14px;
}

.form-control {
	border: 3px solid #726F6F;
	border-radius: 1px;
}


#aboutBlock, #filmBlock, #newsBlock, #tech, #transNews, #promo, #story, #ablum {
	margin-bottom: 50px;
}
#aboutBlock h2, #filmBlock h2, #newsBlock h2 {
	line-height: 2;
}
#aboutBlock #contact textarea {
	height: 240px;
	margin-bottom: 15px;
}

#filmBlockCarousel .wrapper {
	height: 340px;
	overflow: hidden;
}
#filmBlockCarousel .col-md-3, .cate-film-list .col-md-3 {
	text-align: center;
	margin-bottom: 30px;
}
#filmBlockCarousel {
	background-color: #fff;
}
#filmBlockCarousel p, .cate-film-list p {
	line-height: 2;
}
#filmBlockCarousel .poster, .cate-film-list .poster {
	margin-bottom: 10px;
}
#filmBlockCarousel a, .cate-film-list a {
	color: #000;
}
#filmBlock {
	position: relative;
}
#filmBlock .btn-group {
	position: absolute;
	top: 22px;
	right: 0;
}
.poster {
	width: 200px;
	height: 280px;
}

#newsBlock h4 {
	line-height: 1.5;
}


#pageAbout {
	margin-top: 150px;
}
#pageAbout h2 {
	line-height: 1;
	margin: 0;
}
#aboutUs, #contactInfo, #partner {
	margin-bottom: 50px;
}
#partner .item {
	margin-bottom: 15px;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs > li > a {
	border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
}
.sub-list {
	margin-bottom: 20px;
}

#story h2 {
	margin-bottom: 20px;
	line-height: 2;
}
#story p {
	line-height: 1.7;
	margin-bottom: 20px;
}
#story .summary {
	margin-bottom: 30px;
}
#ablum .col-md-3 {
	text-align: center;
}
#ablum img {
	max-width: 230px;
	max-height: 230px;
}
#tech {
	margin-top: 50px;
}
#tech img {
	margin-bottom: 15px;
}


#dashboard {
	padding-bottom: 100px;
}
#dashSide {
	margin-top: 40px;
}

#pageTrans, #pageDetail, #pageLogin, #articleDetail {
	margin-top: 90px;
}
.panel-title > a {
	display: block;
	text-align: center;
}

#pageDetail {
	padding-bottom: 100px;
}
.movie-title {
	margin-bottom: 20px;
}
.movie-summary {
	line-height: 1.5;
	margin-bottom: 30px;
}
.movie-meta {
	margin-bottom: 30px;
}
#photos {
	margin-top: 50px;
}
#photos img {
	max-width: 100%;
}

.film-list .page-header {
	font-size: 20px;
}
.film-list .page-header .nav-tabs > li > a, .film-list .page-header .nav-tabs > li > a:hover, .film-list .page-header .nav-tabs > li > a:focus {
	color: #000;
}
.film-list .page-header .nav-tabs > li.active > a, .film-list .page-header .nav-tabs > li.active > a:hover, .film-list .page-header .nav-tabs > li.active > a:focus {
	color: #063CFA;
}
.film-list .sub-list a, .film-list .sub-list a:hover, .film-list .sub-list a:focus {
	color: #000;
}
.film-list .sub-list .active a, .film-list .sub-list .active a:hover, .film-list .sub-list .active a:focus {
	color: #063CFA;
}



/* ====================================
 * ADMIN PANEL
 * ==================================== */
#loginBox {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}
#adminPanel {
	margin-top: 90px;
}
#sidebar {
	margin-top: 42px;
}
.page-content {
	width: 98%;
}
table .btn, table .glyphicon-new-window {
	margin-left: 3px;
	margin-right: 3px;
}

/* ====================================
 * MEDIA QUERY
 * ==================================== */
@media (min-width: 768px) and (max-width: 992px) {
	.navbar-header {
		float: none;
		padding-left: 44%;
	}
	#pageAbout, #pageTrans, #pageDetail, #pageLogin, #articleDetail {
		margin-top: 0;
	}
	#pageAbout .col-md-2.text-right {
		text-align: left;
		margin-bottom: 10px;
	}
	#langbar {
		position: absolute;
		top: 0;
		right: 30px;
	}
	#tech .text-left {
		text-align: center;
		padding-left: 0;
	}
}
@media (min-width: 992px) {
	#menu {
		margin-left: 68px;
	}
	#langbar {
		position: absolute;
		top: 0;
		right: 30px;
	}
}
@media (min-width: 1200px) {
	#menu {
		margin-left: 155px;
	}
	#langbar {
		position: relative;
	}
}
@media (max-width: 768px) {
	#navbar {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-brand {
		height: auto;
	}
	.navbar-toggle {
		margin-top: 20px;
	}
	#pageAbout .col-md-2.text-right {
	  	text-align: left;
	  	margin-bottom: 10px;
	}
	#langbar {
		position: absolute;
		top: 0;
		left: 100px;
	}
	#pageAbout, #pageTrans, #pageDetail, #pageLogin, #articleDetail {
		margin-top: 0;
	}
	#tech .text-left {
		text-align: center;
		padding-left: 0;
	}
}