extends ./layout

block content
	#pageDetail.container
		#promo
			video(controls="controls", width="100%")
				source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2", src="/uploads/video/#{movie.video.mp4}")
				source(type="video/webm; codecs=vp8,vorbis", src="/uploads/video/#{movie.video.webm}")
		#movieDetail
			h3.movie-title #{movie.title_en}
			.movie-summary #{movie.summary_en}
			.movie-meta
				p.length Duration: #{movie.length} mins
				p.director Director: 
					each item in directorNames
						span #{item}
				p.cast Cast: #{movie.cast_en}
				p.publisher Presented by: #{movie.publisher_en}
			#photos
				h4 Film Still
				.row
					//- each photo in movie.photo
					//- 	.col-md-3
					//- 		a.fancybox(rel="gallery1", href="/uploads/img/#{photo}")
					//- 			img(src="/uploads/img/#{photo}")
	
	script(src="/js/public-en.js")