extends ../layout

block content
	include ../includes/slider

	.container
		#aboutBlock.row
			#about.col-md-6
				h2 关于本站
				p 影视译通网是面向世界各国影视专业机构的网站，也是各国影视文化艺术交流的重要平台。我们的网站将实现各国影视营销机构的商业信息互联互通，把中国影视贸易的最新动态信息传递。我们将实现与世界上近200个电影节（展）以及商务交流市场实现实时对接；世界各国的影视发行机构将可以通过我们的网站与中国任何影视出品方实现最快捷的对接。作为中间协调机构，我们将给予你们最大的便利与商机，使双方均获得最大的效益与机会。
				p 不仅以上所述，我们还是一个专业的中外影视片译制平台。在过去近10年的专业工作中，我们译制过千余部中外影视作品。译制的影片包括英、法、西、阿、俄、德、日、意、葡……等近20个语种，既有字幕制作，同时也有语音译配。我们的翻译团队既有资深的在国外长期工作的专家，也有在华工作的外国专家，实现了最佳的语言翻译配套机制。在当今世界200多个影视节（展）中，有超过70%的影视片是由我们完成多国语言字幕译制的；我们也为中国国家领导人出访影视国礼提供系统的译制制作。我们译制的影片曾经在美、英、法、俄、欧洲、非洲、拉美世界各国参加大型放映，所译制的作品深获各国专家和观众的一致好评。
				p 在制作技术方面，根据不同国家和地区的需要制作适合全球任何地区播放的影片制式和载体，符合国际通行标准。
			#contact.col-md-6
				h2 快捷联络
				form.form-horizontal
					.form-group
						.col-sm-6
							input.form-control(type="text", name="client", placeholder="如何称呼您？")
						.col-sm-6
							input.form-control(type="email", name="email", placeholder="您的邮箱地址")
					textarea.form-control(rows="3", placeholder="可以在这里写下您要咨询的问题和您的联络方式。")
					button.btn.btn-primary.send(type="submit") 发送

		#filmBlock.row
			h2 最新译制
			#filmBlockCarousel.carousel.slide(data-ride="carousel")
				.carousel-inner
					.item.active
						.row
							each item in movies
								.col-md-3
									a(href="/movie/#{item._id}")
										img.poster(src="/uploads/img/#{item.poster}", alt="#{item.title}")
									p.film_title
										a(href="/movie/#{item._id}") 《#{item.title}》

		#newsBlock.row
			h2 资讯
			.row
				.col-md-3
					h4
						a(href="") Google 的应用商店悄悄进入了中国
					p.abstract 半个月前关于 Google Play 应用商店回归中国市场的爆料之后，中国应用开发者开始把目光转向这位长期在大陆缺失的玩家……
					p
						a(href="") 详情 >>
				.col-md-3
					h4
						a(href="") Google 的应用商店悄悄进入了中国
					p.abstract 半个月前关于 Google Play 应用商店回归中国市场的爆料之后，中国应用开发者开始把目光转向这位长期在大陆缺失的玩家……
					p
						a(href="") 详情 >>
				.col-md-3
					h4
						a(href="") Google 的应用商店悄悄进入了中国
					p.abstract 半个月前关于 Google Play 应用商店回归中国市场的爆料之后，中国应用开发者开始把目光转向这位长期在大陆缺失的玩家……
					p
						a(href="") 详情 >>
				.col-md-3
					h4
						a(href="") Google 的应用商店悄悄进入了中国
					p.abstract 半个月前关于 Google Play 应用商店回归中国市场的爆料之后，中国应用开发者开始把目光转向这位长期在大陆缺失的玩家……
					p
						a(href="") 详情 >>

	script(src="/js/public.js")