extends ../layout

block content
	#pageAbout.container(style="width: 70%;")
		#aboutUs.row
			.col-md-2.text-right
				h2 关于本站
			.col-md-10
				p 影视译通网是面向世界各国影视专业机构的网站，也是各国影视文化艺术交流的重要平台。我们的网站将实现各国影视营销机构的商业信息的互联互通，把中国影视贸易的最新动态信息传递。我们将实现与世界上近200个电影节（展）以及商务交流市场实现实时对接；世界各国的影视发行机构将可以通过我们的网站与中国任何影视出品方实现最快捷的对接。作为中间协调机构，我们将给予你们最大的便利与商机，使双方均获得最佳的效益与机会。
				p 不仅以上所述，我们还是一个专业的中外影视片译制平台。在过去近10年的专业工作中，我们译制过千余部中外影视作品。译制的影视片包括英、法、西、阿、俄、德、日、意、葡... ...等近20个语种，既有字幕制作，同时也有语音译配。我们的翻译团队既有资深的在国外长期工作的专家，也有在华工作的外国专家，实现了最佳的语言翻译配套机制。在当今世界200多个影视节（展）中，有超过70%的影视片是由我们完成多国语言字幕译制的；我们也为中国国家领导人出访提供系统的译制制作。我们译制的影视片曾经在美、英、法、俄、欧洲、非洲、拉美世界各国参加大型放映，所译制的作品深获各国专家和观众的一致好评。
				p 在制作技术方面，根据不同国家和地区的需要制作适合全球任何地区播放的影片制式和载体，符合国际通行标准。
		#contactInfo.row
			.col-md-2.text-right
				h2 联络信息
			.col-md-10
				p 影视译通网：www.filmlingua.com
				p 电话：+86 10 6237 6980
				p 移动电话：+86 137 1616 4970
				p 电子邮箱：berlin@filmlingua.com
		#partner.row
			.col-md-2.text-right
				h2 合作伙伴
			.col-md-10
				.col-md-2.item
					img(src="/images/p0.jpg")
				.col-md-2.item
					img(src="/images/p0.jpg")
				.col-md-2.item
					img(src="/images/p0.jpg")
				.col-md-2.item
					img(src="/images/p0.jpg")
				.col-md-2.item
					img(src="/images/p0.jpg")
				.col-md-2.item
					img(src="/images/p0.jpg")
	script(src="/js/common.js")