extends ../layout

block content
	#pageLogin.container
		#loginBox
			.page-header
				h1 #{page_title}
			.page-content
				form(role="form", method="POST", action="/admin/login")
					.form-group
						label(for="name") 用户名
						input.form-control(type="text", id="name", name="user[name]", placeholder="用户名")
					.form-group
						label(for="password") 密码
						input.form-control(type="password", id="password", name="user[password]", placeholder="密码")

					button.btn.btn-primary(type="submit") 登录