extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/slide/add"): i.glyphicon.glyphicon-plus  添加幻灯
				.page-content
					table.table.table-striped.table-bordered
						thead
							tr
								th 标题
								th 位置
								th 操作
						tbody
							each item in slides
								tr(class="item-id-#{item._id}")
									td 
										p #{item.title}
											a(href="#{item.link}", target="_blank"): i.glyphicon.glyphicon-share
										p #{item.title_en}
											a(href="#{item.link}", target="_blank"): i.glyphicon.glyphicon-share
									td #{item.page}
									td
										button.btn.btn-danger.delS(type="button", data-id="#{item._id}"): i.glyphicon.glyphicon-trash
	script(src="/js/admin.js")