extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10(ms-controller="category")
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/category/add"): i.glyphicon.glyphicon-plus  添加分类
				.page-content
					.alert.alert-warning(role="alert") 分类里有“类型”或者“电影”，则无法删除分类。
					table.table.table-striped.table-bordered
						thead
							tr
								th 分类名称
								th EN
								th Slug
								th 包含类型数
								th 包含影片数
								th 操作
						tbody
							tr(ms-attr-class="item-id-{{el._id}}", ms-repeat="categories")
								td {{el.name}}
								td {{el.name_en}}
								td {{el.slug}}
								td {{el.types.size() | number(0)}}
								td {{el.movies.size() | number(0)}}
								td
										button.btn.btn-danger.delC(type="button", ms-click="remove(el)", ms-attr-data-id="{{el._id}}", ms-if="el.types.size() == 0"): i.glyphicon.glyphicon-trash
							tr(ms-if="categories.size() == 0")
								td(colspan="6") 还没有“分类”数据
	//- script(src="/js/admin.js")
	script(src="/js/tools/require.js", data-main="/js/adminList")