extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/slide"): i.glyphicon.glyphicon-arrow-left  幻灯列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/slide/save", enctype="multipart/form-data")
						if slide._id
							input(type="hidden", name="slide[_id]", value="#{slide._id}")
						.form-group
							label.col-sm-2.control-label(for="page") 选择显示页面
							.col-sm-10
								select#page(name="slide[page]")
									option(value="index", selected) 首页
									option(value="film") 故事片
									option(value="documentary") 纪录片
									option(value="animation") 美术片
									option(value="tv") 电视剧
									option(value="short") 短片
						.form-group
							label.col-sm-2.control-label 选择排版方式
							.col-sm-10
								label.radio-inline
									input(type="radio", name="slide[layout]", value="p-left")
									img(src="/images/icon_p_l.png", alt="居左")
								label.radio-inline
									input(type="radio", name="slide[layout]", value="p-center", checked)
									img(src="/images/icon_p_c.png", alt="居中")
								label.radio-inline
									input(type="radio", name="slide[layout]", value="p-right")
									img(src="/images/icon_p_r.png", alt="居右")
						.form-group
							label.col-sm-2.control-label 标题
							.col-sm-10
								input.form-control(type="text", name="slide[title]", id="title", placeholder="中文", value=slide.title)
								br
								input.form-control(type="text", name="slide[title_en]", id="title_en", placeholder="in English", value=slide.title_en)
						.form-group
							label.col-sm-2.control-label(for="link") 链接
							.col-sm-10
								input.form-control(type="text", name="slide[link]", id="link", placeholder="http://", value=slide.link)
								p.help-block 请输入<mark>http://</mark>开头的链接地址
						.form-group
							label.col-sm-2.control-label 上传所需图片
							.col-sm-10
								p.help-block
									h4 上传背景图
								input(type="file", name="uploadBg")
								input(type="hidden", name="slide[content][bg]")
								p.help-block
									h4 上传中文名
								input(type="file", name="uploadCn")
								input(type="hidden", name="slide[content][cn]")
								p.help-block
									h4 上传英文名
								input(type="file", name="uploadEn")
								input(type="hidden", name="slide[content][en]")
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存