extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/category"): i.glyphicon.glyphicon-arrow-left  分类列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/category/save")
						if category._id
							input(type="hidden", name="category[_id]", value=category._id)
						.form-group
							label.col-sm-2.control-label(for="name") 分类名称
							.col-sm-10
								input.form-control(type="text", name="category[name]", id="name", placeholder="分类名称", value=category.name, required)
								br
								input.form-control(type="text", name="category[name_en]", id="name_en", placeholder="English Name", value=category.name_en, required)
						.form-group
							label.col-sm-2.control-label(for="slug") Slug
							.col-sm-10
								input.form-control(type="text", name="category[slug]", id="slug", placeholder="Slug", value=category.slug, required)
								p.help-block “slug”用于调用时规范化显示，这里只能使用<strong>单一</strong>单词，例如“短片”的slug为：short；“电视剧”的为：tv。
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存