extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/movie"): i.glyphicon.glyphicon-arrow-left  影片列表
				.page-content
					.col-sm-offset-2.col-sm-10
						.alert.alert-warning
							转换视频格式的软件：
							a(href="http://www.mirovideoconverter.com", target="_blank") MiroVideoConverter
					form.form-horizontal(role="form", method="post", action="/admin/movie/video/save", enctype="multipart/form-data")
						input(type="hidden", name="movie[_id]", value=movie._id)
						.form-group
							label.col-sm-2.control-label(for="title") 影片名称
							.col-sm-10
								input.form-control(type="text", id="title", value=movie.title, disabled)
						.form-group
							label.col-sm-2.control-label 上传片花
							.col-sm-10
								input#uploadVideoMp4(type="file", name="uploadVideoMp4")
								p.help-block 请上传 <mark>.mp4</mark> 格式的视频文件
								input(type="hidden", name="movie[video][mp4]")
								input#uploadVideoWebm(type="file", name="uploadVideoWebm")
								p.help-block 请上传 <mark>.webm</mark> 格式的视频文件
								input(type="hidden", name="movie[video][webm]")
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存