extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/type/add"): i.glyphicon.glyphicon-plus  添加类型
				.page-content
					.alert.alert-warning(role="alert") 类型里有电影，则无法删除类型。
					.boxx(style="margin-bottom: 10px;")
						form.form-inline
							.form-group(ms-controller="category")
								label(for="sCate") 按分类显示
								select.form-control#sCate
									option --全部--
									option(ms-repeat="categories", ms-value="{{el._id}}") {{el.name}}

					table.table.table-striped.table-bordered(ms-controller="type")
						thead
							tr
								th 类型名称
								th EN
								th SLUG
								th 包含影片数
								th 操作
						tbody
							tr(ms-attr-class="item-id-{{el._id}}", ms-repeat="types")
								td {{el.name}}
								td {{el.name_en}}
								td {{el.slug}}
								td {{el.movies.size() | number(0)}}
								td
									button.btn.btn-danger.delT(type="button", ms-click="remove(el)", ms-attr-data-id="{{el._id}}"): i.glyphicon.glyphicon-trash
							tr(ms-if="types.size() == 0")
								td(colspan="5") 还没有“类型”数据
	//- script(src="/js/admin.js")
	script(src="/js/tools/require.js", data-main="/js/adminList")