extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/type"): i.glyphicon.glyphicon-arrow-left  类型列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/type/save")
						.form-group(ms-controller="category")
							label.col-sm-2.control-label(for="category") 选择分类
							.col-sm-10
								select.form-control(name="type[category]", required)
									option --请选择--
									option(ms-repeat="categories", ms-value="{{el._id}}") {{el.name}}
						.form-group
							label.col-sm-2.control-label(for="name") 类型名称
							.col-sm-10
								input.form-control(type="text", name="type[name]", id="name", placeholder="类型名称", value=type.name)
								br
								input.form-control(type="text", name="type[name_en]", id="name_en", placeholder="English Name", value=type.name_en)
						.form-group
							label.col-sm-2.control-label(for="slug") Slug
							.col-sm-10
								input.form-control(type="text", name="type[slug]", id="slug", placeholder="Slug", value=type.slug)
								p.help-block “slug”用于调用时规范化显示，例如“武侠”的slug为：martial-arts-film
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存
	script(src="/js/tools/require.js", data-main="/js/adminForm")