extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/user"): i.glyphicon.glyphicon-arrow-left  用户列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/user/new")
						.form-group
							label.col-sm-2.control-label(for="name") 用户名
							.col-sm-10
								input.form-control(type="text", name="user[name]", id="name", placeholder="用户名", value="")
						.form-group
							label.col-sm-2.control-label(for="password") 密码
							.col-sm-10
								input.form-control(type="password", name="user[password]", id="password", placeholder="密码", value="")
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 注册