table.table.table-striped.table-bordered
	thead
		tr
			th 影片名称
			th 管理
			th 操作
	tbody
		each item in movies
			tr(class="item-id-#{item._id}")
				td 
					p #{item.title}
						a(href="/movie/#{item._id}", target="_blank"): i.glyphicon.glyphicon-new-window
					p #{item.title_en}
						a(href="/en/movie/#{item._id}", target="_blank"): i.glyphicon.glyphicon-new-window
				td
					a.btn.btn-primary(href="/admin/movie/video/#{item._id}") 预告片
					a.btn.btn-default(href="/admin/movie/gallery/#{item._id}") 剧照
				td
					a.btn.btn-warning(href="/admin/movie/update/#{item._id}"): i.glyphicon.glyphicon-edit
					button.btn.btn-danger.del(type="button", data-id="#{item._id}"): i.glyphicon.glyphicon-trash
nav
	ul.pagination
		- for (i = 0; i < totalPage; i++) {
			- if (currentPage == (i + 1)) {
				li.active
					a.goMovie(href="javascript:void(0);", data-page="#{currentPage}") #{currentPage}
			- } else {
				li
					a.goMovie(href="javascript:void(0);", data-page="#{i + 1}") #{i + 1}
			- }
		- }
script(src="/js/admin.js")