extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/article"): i.glyphicon.glyphicon-arrow-left  文章列表
				.page-content
					form.form-horizontal#articleForm(role="form", method="post", action="/admin/article/save")
						//- input(type="hidden", name="article[_id]", value="#{article._id}")
						.form-group
							label.col-sm-2.control-label(for="lang") 选择文章语言
							label.checkbox-inline
								input(type="radio", name="article[lang]", value="cn", checked)
								| 中文
							label.checkbox-inline
								input(type="radio", name="article[lang]", value="en")
								| 英文
						.form-group
							label.col-sm-2.control-label(for="year") 选择年份
							.col-sm-10
								select.form-control#year(name="article[year]")
									option(value="2015") 2015
									option(value="2014", selected) 2014
									option(value="2013") 2013
									option(value="2012") 2012
									option(value="2011") 2011
									option(value="2010") 2010
						.form-group
							label.col-sm-2.control-label(for="title") 文章标题
							.col-sm-10
								input.form-control(type="text", name="article[title]", id="title", placeholder="输入中文或英文标题", value=article.title)
						.form-group
							label.col-sm-2.control-label(for="content") 正文
							.col-sm-10
								textarea.form-control#content(name="article[content]", placeholder="输入中文或英文正文") #{article.content}
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存
	link(href="/libs/redactor/redactor/redactor.css", rel="stylesheet")
	script(src="/libs/redactor/redactor/redactor.js")
	script(src="/js/article.js")