extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/movie"): i.glyphicon.glyphicon-arrow-left  影片列表
				.page-content
					form#photoForm.form-horizontal(role="form", method="post", action="/admin/movie/gallery/save", enctype="multipart/form-data")
						input(type="hidden", name="movie[_id]", value=movie._id)
						.form-group
							label.col-sm-2.control-label(for="title") 影片名称
							.col-sm-10
								input.form-control(type="text", id="title", value=movie.title, disabled)
						.form-group
							label.col-sm-2.control-label 上传剧照
							.col-sm-10
								input(type="file", name="uploadPhoto[]", multiple="multiple")
								input(type="hidden", name="movie[photo][]")
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存
						if movie.photo
							#photos.row.col-sm-offset-2(style="margin-bottom: 50px;")
								each item in movie.photo
									.col-md-3
										img(src="/uploads/img/#{item}", style="max-width:200px;")
										button.delPhoto.btn.btn-danger(type="button", data-name="#{item}", data-id="#{movie._id}") 删除
	script(src="/js/admin.js")