.col-md-2
	ul#sidebar.nav.nav-pills.nav-stacked(role="tablist")
		if user
			li 欢迎 #{user.name} ！
			li(class=(page_slug === 'category' ? 'active' : ''))
				a(href="/admin/category") 分类管理
			li(class=(page_slug === 'type' ? 'active' : ''))
				a(href="/admin/type") 类型管理
			li(class=(page_slug === 'director' ? 'active' : ''))
				a(href="/admin/director") 导演管理
			li(class=(page_slug === 'movie' ? 'active' : ''))
				a(href="/admin/movie") 影片管理
			li(class=(page_slug === 'slide' ? 'active' : ''))
				a(href="/admin/slide") 幻灯管理
			li(class=(page_slug === 'article' ? 'active' : ''))
				a(href="/admin/article") 文章管理
			li(class=(page_slug === 'user' ? 'active' : ''))
				a(href="/admin/user") 用户管理
			li
				a(href="/admin/logout")
					i.glyphicon.glyphicon-off
					退出