extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/director/add"): i.glyphicon.glyphicon-plus  添加导演
				.page-content
					.alert.alert-warning(role="alert") 导演名下有电影，则无法删除导演。
					table.table.table-striped.table-bordered
						thead
							tr
								th 导演
								th EN
								th SLUG
								th 包含影片数
								th 操作
						tbody
							if directories.length > 0
								each item in directories
									tr(class="item-id-#{item._id}")
										td #{item.name}
										td #{item.name_en}
										td #{item.slug}
										td #{item.movies.length}
										td
											a.btn.btn-info(href="/admin/director/update/#{item._id}") <i class="glyphicon glyphicon-eye-open"></i> 查看
											if (item.movies.length > 0)
												button.btn.btn-danger.delD(type="button", data-id="#{item._id}", disabled): i.glyphicon.glyphicon-trash
											else
												button.btn.btn-danger.delD(type="button", data-id="#{item._id}"): i.glyphicon.glyphicon-trash
							else
								tr
									td(colspan="5") 还没有“导演”数据
	script(src="/js/admin.js")