extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/article/add"): i.glyphicon.glyphicon-plus  写文章
				.page-content
					table.table.table-striped.table-bordered
						thead
							tr
								th 文章标题
								th 年份
								th 发表时间
								th 操作
						tbody
							if articles.length > 0
								each item in articles
									tr(class="item-id-#{item._id}")
										td #{item.title} 
											a(href="/article/#{item._id}", target="_blank")
												i.glyphicon.glyphicon-share
										td #{item.year}
										td #{moment(item.meta.createAt).format('YYYY-MM-DD')}
										td
											button.btn.btn-danger.delA(type="button", data-id="#{item._id}"): i.glyphicon.glyphicon-trash
							else
								tr
									td(colspan="4") 还没有任何文章
	script(src="/js/admin.js")