extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					if movie._id
						h1 修改影片信息
							small: a.btn.btn-success(href="/admin/movie"): i.glyphicon.glyphicon-arrow-left  影片列表
					else
						h1 添加影片
							small: a.btn.btn-success(href="/admin/movie"): i.glyphicon.glyphicon-arrow-left  影片列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/movie/new", enctype="multipart/form-data")
						if movie._id
							input(type="hidden", name="movie[_id]", value=movie._id)
						.form-group
							label.col-sm-2.control-label(for="category") 分类
							.col-sm-10
								select#cateBox.form-control(name="movie[category]")
									option 请选择
									each category in categories
										if movie._id
											option(value="#{category._id}", selected=category._id.toString()==movie.category.toString()) #{category.name}
										else
											option(value="#{category._id}") #{category.name}
						.form-group
							label.col-sm-2.control-label(for="type") 影片类型
							.col-sm-10#typeContent
								
						.form-group
							label.col-sm-2.control-label(for="type") 是否推荐
							.col-sm-10
								label.radio-inline
									input(type="radio", name="movie[recommend]", value='1')
									| 是
								label.radio-inline
									input(type="radio", name="movie[recommend]", value='0', checked)
									| 否
						.form-group
							label.col-sm-2.control-label 影片名称
							.col-sm-10
								input.form-control(type="text", name="movie[title]", id="title", placeholder="影片名称", value=movie.title)
								br
								input.form-control(type="text", name="movie[title_en]", id="title_en", placeholder="Title in English", value=movie.title_en)
						.form-group
							label.col-sm-2.control-label(for="summary") 故事梗概
							.col-sm-10
								textarea.form-control(name="movie[summary]", id="summary", rows="3", placeholder="故事梗概", value=movie.summary)
								br
								textarea.form-control(name="movie[summary_en]", id="summary_en", rows="3", placeholder="The story", value=movie.summary_en)
						.form-group
							label.col-sm-2.control-label(for="length") 时长
							.col-sm-10
								.row
									.col-xs-2
										input.form-control(type="text", name="movie[length]", id="length", placeholder="时长", value=movie.length)
									.col-xs-10 分钟
						.form-group
							label.col-sm-2.control-label(for="director") 导演
							.col-sm-10
								select.form-control(name="movie[director][]", multiple)
									option 请选择
									each director in directories
										if movie._id
											option(value="#{director._id}", selected=director._id.toString()==movie.director.toString()) #{director.name}
										else
											option(value="#{director._id}") #{director.name}
						.form-group
							label.col-sm-2.control-label(for="cast") 演员
							.col-sm-10
								input.form-control(type="text", name="movie[cast]", id="cast", placeholder="演员", value=movie.cast)
								br
								input.form-control(type="text", name="movie[cast_en]", id="cast_en", placeholder="Cast", value=movie.cast_en)
						.form-group
							label.col-sm-2.control-label(for="publisher") 出品
							.col-sm-10
								input.form-control(type="text", name="movie[publisher]", id="publisher", placeholder="出品", value=movie.publisher)
								br
								input.form-control(type="text", name="movie[publisher_en]", id="publisher_en", placeholder="Presented by", value=movie.publisher_en)
						.form-group
							label.col-sm-2.control-label(for="uploadPoster") 海报
							.col-sm-10
								input#uploadPoster(type="file", name="uploadPoster")
								p.help-block 请上传 200px × 280px 大小的图片
								input(type="hidden", name="poster")
								br
								if (movie.poster)
									p: img(src="/uploads/img/#{movie.poster}", style="width:200px;")
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type="submit") 保存
	script(src="/js/admin.js")