extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/user/add"): i.glyphicon.glyphicon-plus  添加用户
				.page-content
					table.table.table-striped.table-bordered
						thead
							tr
								th 用户名
								th 时间
								th 操作
						tbody
							each item in users
								tr(class="")
									td #{item.name}
									td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
									td
										a.btn.btn-warning(href="/admin/user/update/#{item._id}"): i.glyphicon.glyphicon-edit
										if users.length > 2
											button.btn.btn-danger.del(type="button", data-id=""): i.glyphicon.glyphicon-trash
