extends ../layout

block content
	#adminPanel.container
		.row
			include ./admin_sidebar
			.col-md-10
				.page-header
					h1 #{page_title} 
						small: a.btn.btn-success(href="/admin/director"): i.glyphicon.glyphicon-arrow-left  导演列表
				.page-content
					form.form-horizontal(role="form", method="post", action="/admin/director/save")
						if director._id
							input(type="hidden", name="director[_id]", value="#{director._id}")
						.form-group
							label.col-sm-2.control-label(for="category") 选择分类
							.col-sm-10
								if director._id
									p.form-control-static 
										each cate in categories
											span #{cate}&nbsp;
								else
									select.form-control(name="director[categories]", multiple, required)
										option(value='') 请选择
											each category in categories
												option(value="#{category._id}") #{category.name}
						.form-group
							label.col-sm-2.control-label(for="name") 导演姓名
							.col-sm-10
								if director._id
									input.form-control(type="text", name="director[name]", id="name", placeholder="导演姓名", value=director.name, disabled)
									br
									input.form-control(type="text", name="director[name_en]", id="name_en", placeholder="English Name", value=director.name_en, disabled)
								else
									input.form-control(type="text", name="director[name]", id="name", placeholder="导演姓名", value=director.name)
									br
									input.form-control(type="text", name="director[name_en]", id="name_en", placeholder="English Name", value=director.name_en)
						.form-group
							label.col-sm-2.control-label(for="slug") Slug
							.col-sm-10
								if director._id
									input.form-control(type="text", name="director[slug]", id="slug", placeholder="Slug", value=director.slug, disabled)
								else
									input.form-control(type="text", name="director[slug]", id="slug", placeholder="Slug", value=director.slug)
									p.help-block “slug”用于调用时规范化显示，例如“陈可辛”的slug为：peter-chan
						.form-group
							.col-sm-offset-2.col-sm-10
								if (!director._id)
									button.btn.btn-primary(type="submit") 保存