extends ../layout

block content
.container
		ul
			each typ in types
				if typ.movies && typ.movies.length > 0
					each item in movies
						p.film_title
							a(href="/movie/#{item._id}") 《#{item.title}》


	script(src="/js/public.js")