extends ../layout

block content
	#articleDetail.container
		.col-md-8
			.page-heaer
				h2 #{article.title}
			.boxx-content
				.post-meta #{moment(article.meta.createAt).format('YYYY-MM-DD')}
				.post-content !{article.content}
	script(src="/js/common.js")
