extends ../layout

block content

	.container
		.page-header 
			h1 #{page_title}
		.boxx-content
			each category in categories
				.panel.panel-default
					.panel-heading
						h2 #{category.name}
					.panel-body.row
						if category.movies && category.movies.length > 0
							each item in category.movies
								.col-md-3
									.thumbnail
										a(href="/movie/#{item._id}")
											img(src="#{item.poster}", alt="#{item.title}")
									.caption
										p: a(href="/movie/#{item._id}") 《#{item.title}》