extends ../layout

block content
	include ../includes/slider

	.container
		input#page_slug(type="hidden", value="#{category._id}")
		.film-list
			div
				.page-header
					ul.nav.nav-tabs.toggleBtn(role="tablist")
						li.active(role="presentation")
							a(href="#directory", role="tab", data-toggle="tab") 导演
						li(role="presentation")
							a(href="#type", role="tab", data-toggle="tab") 类型
				.tab-content
					#directory.tab-pane.active(role="tabpanel")
						.row.sub-list.toggleBtn
							#allBtn.col-md-1.active
								a.getall(href="javascript:void(0);", value="all") 全部
							each director in directors
								.col-md-1 
									a.byDirector(href="javascript:void(0);", value="#{director._id}") #{director.name}
						.row.cate-film-list
							#allList
								each movie in movies
									.col-md-3
										a(href="/movie/#{movie._id}")
											img.poster(src="/uploads/img/#{movie.poster}")
										p.film-title
											a(href="/movie/#{movie._id}") 《#{movie.title}》
							#filmList1
					#type.tab-pane(role="tabpanel")
						.row.sub-list.toggleBtn
							#reBtn.col-md-1.active
								a.recommend(href="javascript:void(0);") 推荐
							each type in types
								.col-md-2
									a.byType(href="javascript:void(0);", value="#{type._id}") #{type.name}
						.row.cate-film-list
							#recommendList
								each recommend in recommends
									.col-md-3
										a(href="/movie/#{recommend._id}")
											img.poster(src="/uploads/img/#{recommend.poster}")
										p.film-title
											a(href="/movie/#{recommend._id}") 《#{recommend.title}》
							#filmList2
	script(src="/js/common.js")
	script(src="/js/movie.js")