extends ../layout

block content
	#pageDetail.container
		#promo
			video(controls="controls", width="100%")
				source(type="video/mp4; codecs=avc1.42E01E,mp4a.40.2", src="/uploads/video/#{movie.video.mp4}")
				source(type="video/webm; codecs=vp8,vorbis", src="/uploads/video/#{movie.video.webm}")
		#movieDetail
			h3.movie-title 《#{movie.title}》故事梗概
			.movie-summary #{movie.summary}
			.movie-meta
				p.length 时长：#{movie.length}分钟
				p.director 导演：
					each item in directorNames
						span #{item} 
				p.cast 主要：#{movie.cast}
				p.publisher 出品：#{movie.publisher}
			#photos
				h4 剧照
				.row
					each photo in movie.photo
						.col-md-3
							a.fancybox(rel="gallery1", href="/uploads/img/#{photo}")
								img(src="/uploads/img/#{photo}")
	link(rel="stylesheet", href="/libs/fancybox/source/jquery.fancybox.css")
	script(src="/js/common.js")
	script(src="/libs/fancybox/source/jquery.fancybox.js")
	script(src="/js/gallery.js")
