#myCarousel.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li.active(data-slide-to="0", data-target="#myCarousel")
		li(data-slide-to="1", data-target="#myCarousel")
		li(data-slide-to="2", data-target="#myCarousel")
	.carousel-inner(role="listbox")
		each item in slides
			.item.active
				a(href="#{item.link}")
					img(src="/uploads/img/#{item.content.bg}")
					.carousel-caption.p-left
						h1
							img(src="/uploads/img/#{item.content.cn}")
						p 
							img(src="/uploads/img/#{item.content.en}")
	a.left.carousel-control(href="#myCarousel", data-slide="prev", role="button")
		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		span.sr-only Previous
	a.right.carousel-control(href="#myCarousel", data-slide="next", role="button")
		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		span.sr-only Next