extends ../layout

block content
	#pageTrans.container
		#intro
			video(controls, width="100%", poster="http://video-js.zencoder.com/oceans-clip.png")
				source(src="http://video-js.zencoder.com/oceans-clip.ogv", type='video/ogg')
				p.vjs-no-js To view this video please enable JavaScript, and consider upgrading the brower.
		#tech.row
			.col-md-4.text-center
				img.tech-thumb(src="/images/dvd.png")
				p.text-left(style="padding-left: 43px;") 包含
				p 5.1声道和多功能切换式外语字幕的DVD光盘
			.col-md-4.text-center
				img.tech-thumb(src="/images/br.png")
				p.text-left(style="padding-left: 43px;") 包含
				p 5.1声道和多功能切换式外语字幕的蓝光光盘
			.col-md-4.text-center
				img.tech-thumb(src="/images/hello.gif")
				p.text-left(style="padding-left: 53px;") 译制
				p 可以覆盖全球的十大语种及其他稀少语种
		#transNews
			#accordion.panel-group(aria-multiselectable="true", role="tablist")
				.panel.panel-default
					#headingOne.panel-heading(role="tab")
						h4.panel-title
							a(aria-controls="collapseOne", aria-expanded="true", href="#collapseOne", data-parent="#accordion", data-toggle="collapse") 2014年
					#collapseOne.panel-collapse.collapse.in(aria-labelledby="headingOne", role="tabpanel")
						.panel-body
							.row
								ul
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
				.panel.panel-default
					#headingTwo.panel-heading(role="tab")
						h4.panel-title
							a(aria-controls="collapseTwo", aria-expanded="true", href="#collapseTwo", data-parent="#accordion", data-toggle="collapse") 2013年
					#collapseTwo.panel-collapse.collapse.out(aria-labelledby="headingTwo", role="tabpanel")
						.panel-body
							.row
								ul
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
									li.col-md-6
										a(href="") Google 的应用商店悄悄进入了中国
	script(src="/js/common.js")
