extends ./layout

block content
	#pageAbout.container(style="width: 76%;")
		#aboutUs.row
			.col-md-3.text-right(style="padding-left:0;")
				h2 About Our Website
			.col-md-9
				p FILM LINGUA is a professional website for worldwide film and TV institutions and an important platform for film and TV cultural communication. We help to connect film and TV marketing institutions with business information and transfer the latest information of China’s film and TV trade. We have established real-time connection with nearly 200 film festivals (exhibitions) and film business markets. Through our website, film and TV distributors around world can realize the fastest matchmaking with any Chinese producers. As the matchmaker, we will provide greatest convenience and opportunities for you, enabling the two sides to obtain best profits.
				p Moreover, we are expert at translating films and TV dramas. In the past decade, we have translated and dubbed over 1,000 films and television dramas in English, French, Spanish, Arabian, Russian, German, Japanese, Italian, Portuguese, etc, nearly 20 languages in all. Our translation team includes senior experts who work overseas and foreign experts who work in China, forming a wonderfully-coordinated translation team. At present, there are over 200 film festivals and exhibitions, and more than 70% of the exhibits are dubbed by us. Our production are often used as gifts presented by Chinese state leaders during their visits to other countries. The films that we dubbed have been screened in the United States, Britain, France, Russia, and European, African and Latin America countries, where we received praise broadly from both experts and audience.
				p As for the technical aspect, the product can be processed in accordance with any required format and carriers, thus being compatible in any country or region and complying with international standard.
		#contactInfo.row
			.col-md-3.text-right
				h2 Contact
			.col-md-9
				p Website: www.filmlingua.com
				p Telephone: +86 10 6237 6980
				p Mobile: +86 137 1616 4970
				p E-mail: berlin@filmlingua.com
		#partner.row
			.col-md-3.text-right
				h2 Partners
			.col-md-9
				.col-sm-2.item
					img(src="/images/p0.jpg")
				.col-sm-2.item
					img(src="/images/p0.jpg")
				.col-sm-2.item
					img(src="/images/p0.jpg")
				.col-sm-2.item
					img(src="/images/p0.jpg")
				.col-sm-2.item
					img(src="/images/p0.jpg")
				.col-sm-2.item
					img(src="/images/p0.jpg")
	script(src="/js/common.js")