nav.navbar.navbar-default.navbar-static-top.navbar-fixed-top(role="navigation")
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria--controls="navbar")
				span.sr-only Menu
				i.glyphicon.glyphicon-align-justify
			a.navbar-brand(href="/")
						img(src="/images/logo.png", alt="Filmlingua")
		#navbar.navbar-collapse.collapse
			ul#menu.nav.navbar-nav
				li(class=(page_slug === 'home' ? 'active' : ''))
					a(href="/en") Home
				li(class=(page_slug === 'about' ? 'active' : ''))
					a(href="/en/about") About Us
				li(class=(page_slug === 'translation' ? 'active' : ''))
					a(href="/en/translation") Film Translation
				li(class=(page_slug === 'film' ? 'active' : ''))
					a(href="/en/film") Film
				li(class=(page_slug === 'documentary' ? 'active' : ''))
					a(href="/en/documentary") Documentary
				li(class=(page_slug === 'animation' ? 'active' : ''))
					a(href="/en/animation") Animation
				li(class=(page_slug === 'tv' ? 'active' : ''))
					a(href="/en/tv") TV Drama
				li(class=(page_slug === 'short' ? 'active' : ''))
					a(href="/en/short") Short Film
		ul#langbar
			li.cn
				a(href="/") 中文
			li.en.active
				a(href='/en') EN