extends ./layout

block content
	include ../../includes/slider

	.container
		#aboutBlock.row
			#about.col-md-6
				h2 About Our Website
				p(style="font-size: 12px;") FILM LINGUA is a professional website for worldwide film and TV institutions and an important platform for film and TV cultural communication. We help to connect film and TV marketing institutions with business information and transfer the latest information of China’s film and TV trade. We have established real-time connection with nearly 200 film festivals (exhibitions) and film business markets. Through our website, film and TV distributors around world can realize the fastest matchmaking with any Chinese producers. As the matchmaker, we will provide greatest convenience and opportunities for you, enabling the two sides to obtain best profits.
				p(style="font-size: 12px;") Moreover, we are expert at translating films and TV dramas. In the past decade, we have translated and dubbed over 1,000 films and television dramas in English, French, Spanish, Arabian, Russian, German, Japanese, Italian, Portuguese, etc, nearly 20 languages in all. Our translation team includes senior experts who work overseas and foreign experts who work in China, forming a wonderfully-coordinated translation team. At present, there are over 200 film festivals and exhibitions, and more than 70% of the exhibits are dubbed by us. Our production are often used as gifts presented by Chinese state leaders during their visits to other countries. The films that we dubbed have been screened in the United States, Britain, France, Russia, and European, African and Latin America countries, where we received praise broadly from both experts and audience.
				p(style="font-size: 12px;") As for the technical aspect, the product can be processed in accordance with any required format and carriers, thus being compatible in any country or region and complying with international standard.
			#contact.col-md-6
				h2 A Direct Contact To Us
				#contactBox
					form#contactForm.form-horizontal(enctype="multipart/form-data", method="post", action="/mailsend")
						.form-group
							.col-sm-6
								input.form-control.showtip(type="text", name="message[name]", placeholder="How Should We Address You?")
							.col-sm-6
								input.form-control.showtip(type="email", name="message[email]", placeholder="Your E-mail")
						textarea.form-control.showtip(name="message[content]", rows="3", placeholder="You may leave your questions and contacts here, please. ")
						button.btn.btn-primary.send(type="submit") Send
					#ok(style="display: none;")
						p We'll contact you in 2 days.

		#filmBlock.row
			h2 What's New?
			#filmBlockCarousel(style="overflow: hidden;")
				.row(style="width: 2650px;")
					if movies
						each item in movies
							.col-md-3(style="width: 300px;")
								a(href="/en/movie/#{item._id}")
									img.poster(src="/uploads/img/#{item.poster}", alt="#{item.title_en}")
								p.film-title
									a(href="/en/movie/#{item._id}") #{item.title_en}
			.btn-group(role="group")
				button.btn.btn-default.more-left(type="button", disabled)
					i.glyphicon.glyphicon-chevron-left
				button.btn.btn-default.more-right(type="button")
					i.glyphicon.glyphicon-chevron-right
		#newsBlock.row
			h2 Information
			.row
				if articles
					each article in articles
						.col-md-3
							h4
								a(href="") #{article.title}
							p.abstract #{article.content}
							p
								a(href="") More >>

	script(src="/js/Validform_v5.3.2_min.js")
	script(src="/js/wow.min.js")
	script(src="/js/common.js")
	script(src="/js/index.js")