doctype
html(class="no-js")
	head
		meta(charset="utf-8")
		title #{page_title} - Filmlingua
		include ../../includes/head
		link(href="/css/en.css", rel="stylesheet")
	body
		include ./header
		block content
		include ./footer