extends ./layout

block content
	#pageTrans.container
		#intro
			video(controls, width="100%", poster="http://video-js.zencoder.com/oceans-clip.png")
				source(src="http://video-js.zencoder.com/oceans-clip.ogv", type='video/ogg')
				p.vjs-no-js To view this video please enable JavaScript, and consider upgrading the brower.
		#tech.row
			.col-md-4.text-center
				img.tech-thumb(src="/images/dvd.png")
				p.text-left Contain DVD with Dolby Digital 5.1 and multi-language subtitles
			.col-md-4.text-center
				img.tech-thumb(src="/images/br.png")
				p.text-left Contain BD with Dolby Digital 5.1 and multi-language subtitles
			.col-md-4.text-center
				img.tech-thumb(src="/images/hello.gif")
				p.text-left Translation we provide services covering ten major languages and also the rare languages worldwide
		#transNews
			#accordion.panel-group(aria-multiselectable="true", role="tablist")
				.panel.panel-default
					#headingOne.panel-heading(role="tab")
						h4.panel-title
							a(aria-controls="collapseOne", aria-expanded="true", href="#collapseOne", data-parent="#accordion", data-toggle="collapse") 2014
					#collapseOne.panel-collapse.collapse.in(aria-labelledby="headingOne", role="tabpanel")
						.panel-body
							.row
								ul
									
				.panel.panel-default
					#headingTwo.panel-heading(role="tab")
						h4.panel-title
							a(aria-controls="collapseTwo", aria-expanded="true", href="#collapseTwo", data-parent="#accordion", data-toggle="collapse") 2013
					#collapseTwo.panel-collapse.collapse.out(aria-labelledby="headingTwo", role="tabpanel")
						.panel-body
							.row
								ul
	script(src="/js/common.js")