doctype
html(class="no-js")
	head
		meta(charset="utf-8")
		title #{page_title} - 影视译通网
		meta(name="viewport", content="width=device-width, initial-scale=1")
		include ./includes/head
	body
		include ./includes/header
		block content
		include ./includes/footer